#start{
  background-color: aquamarine;
  color: black;
  text-align: center;
  border: 30px;
  padding: 25px;
}
#second{
  background-color: rgb(66, 46, 109);
  text-align: center;
  border: 30px;
  padding: 25px;
}
#third{
  background-color: rgb(236, 255, 127);
  text-align: center;
  border: 30px;
  padding: 25px;
}
h1{
justify-content: center;
margin-left: 190px;
align-items: center;
padding: 40px;
border: 10px;
border-radius: 30px;
border-color: azure;
color: burlywood;
}